.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: #000000bf;
}

.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;

    .content {
        width: 100%;
        h1 {
            @include title;
            font-size: 40px;
            margin-bottom: 28px;
            color: #ff2727;
        }
        h5 {
            @include title;
            margin-bottom: 32px;
        }
        .bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            span.delete {
                @include btn;
                background: #ff2727;
                color: #fff;
                margin: 20px 0;
            }
        }
    }
    &.nav-profile {
        width: 350px;
        padding: 32px;
        margin-left: 900px;
        margin-top: -10px;

        #nav-profile {
            .img-wrap {
                display: flex;
                justify-content: center;
                img {
                    width: 50px;
                    border-radius: 50%;
                }
            }
            h1 {
                @include title;
                color: #1a0606;
                font-size: 26px;
            }
            .bottom {
                display: block;
                a {
                    width: 100%;
                    display: block;
                    font-weight: 700;
                    font-size: 18px;
                    color: #111;
                    margin-bottom: 12px;

                    &.link {
                        @include btn;
                        text-align: center;
                        color: #fff;
                        background: #ff0000;
                        font-weight: 600;
                    }
                }
                .nav-wrap{
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    a{

                    }
                    img{
                        height: 20px;


                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
